<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

	{{> links}}

<body>
	<h1>About</h1>
	<p>I like girls</p>
</body>

	{{> footer}}

<!-- <footer>
	<p>Copyright {{year}}</p>
</footer> -->

</html>